<!--
/*
* Copyright 2019 BlackBerry Ltd.
*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/
-->

<section class="application-info">
  <h2>Application Info</h2>
  <ion-item>
    <p>
      <strong>BBD SDK for {{platformName}}:</strong>
      <code margin-start>{{bbdSDKVersion}}</code>
    </p>
  </ion-item>
  <ion-item *ngFor="let item of applicationConfigInfo | keyvalue;">
    <p>
      <strong>{{item.key}}:</strong>
      <code margin-start>{{item.value}}</code>
    </p>
  </ion-item>
</section>
